.detail-container {
  .tab-content {
    display: grid;
  }

  .navStickyBar {
    .nav-item {
      padding: 5px 0;

      a {
        font-size: 15px;
        line-height: 20px;
        padding: 0;

        &.active {
          font-weight: 600;
        }
      }
    }
  }
}

.field-bloc {
  color: #000;

  .field-bloc__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
  }

  .field-bloc__value {
    max-width: 100%;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
    hyphens: auto;
  }
}

.field-content__h1 {
  position: relative;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  border-bottom: 1px solid #295eb8;
  padding-bottom: 3px;
  margin-bottom: 15px;
  color: #295eb8;
}

.field-content__h2 {
  position: relative;
  font-size: 26px;
  line-height: 30px;
}

.field-content__h3 {
  font-size: 24px;
  line-height: 28px;
}

.field-content__h4 {
  font-size: 20px;
  line-height: 24px;
}

.field-content__h5 {
  font-size: 16px;
  line-height: 20px;
}

.field-table {
  width: 100%;
  color: #000;
}

.field-table thead th {
  background-color: #351f65;
  color: #ffffff;
  padding: 5px;
  border: 1px solid #ddd;
}

.field-table td {
  border: 1px solid #ddd;
  padding: 5px;
}

.field-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.field-table tbody tr:nth-child(even) {
  background-color: #eaf5ff;
}

.field-table tbody tr:hover {
  background-color: #d6ebff;
}


// card
.field-cardcontent {
  padding-bottom: 10px;
}

.field-card__header {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background: #777777;
  color: #fff;
  cursor: pointer;
}

.field-card__body {
  //display: none;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.child-checkbox {
  display: none;
  margin-left: 20px;
  border-left: 1px solid #00a6e2;
}