.btnSutdy {
    float: right;
    margin-bottom: 30px;
}

.link-with-icon {
    color: #351f65;        
    text-decoration: underline;
    margin-right: 20px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 5px;               
    transition: color 0.3s ease;
}

.link-with-icon i {
    font-size: 16px;           /* taille de l'icône */
}

/* hover effect */
.link-with-icon:hover {
    color: #5e3fa3;            /* couleur au survol */
}

/* liens spécifiques si tu veux différencier */
.link-add {
    color: #00a6e2;
}

.link-import {
    color: #5e3fa3;
}

.link-add:hover {
    color: #058dbf;
    text-decoration: underline;
}

.link-import:hover {
    color: #351f65;
    text-decoration: underline;
}
/* Style commun pour tous les modals spécifiques */
#deleteStudyModal .modal-content,
#decisionStudyModal .modal-content,
#publishStudyModal .modal-content {
    border: 3px solid #351f65 !important; /* bordure violette */
    border-radius: 12px !important;       /* coins arrondis */
    overflow: hidden;                      /* contenu à l'intérieur */
}
#deleteStudyModal .modal-title,
#decisionStudyModal .modal-title,
#publishStudyModal .modal-title {
    color: #351f65 !important;
}
.make-study-decision-btn{
  color: #00a6e2 !important;
}
.text-truncate{
 color: #351f65;
}